<nav class="navbar">
    <ul>
        <img src="/images/perfume_64.png">        
        <li><a href="/">Home</a></li>
        <li><a href="/sobre">Quem somos?</a></li>
        <li><a href="#">Parceiros</a></li>
    </ul>
</nav>